@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600&family=M+PLUS+1:wght@400;500&family=Sora:wght@400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=M+PLUS+1:wght@400;500&family=Rowdies&family=Rubik:wght@600&family=Sora:wght@400;700&display=swap');

/* styles.css (or another .css file) */
.driver-name {
    font-family: 'Sora', sans-serif;
    font-weight: bolder;
    color: rgb(22, 22, 24);
  }
  
  .phone {
    font-family: 'Sora', sans-serif;
    color: rgb(22, 22, 24);
    font-weight: bolder;
  }

  .driver{
    color: #1807ff
  }
  .vehicle{
    font-family: 'Sora', sans-serif;
    color: #1807ff;
    font-weight: bolder;

  }
  button.custom-button {
     background-color: #36348f;
    border-color: #3a4983;
    color: white;
  }
  button.custom-button:hover{
    background-color: #ff814f;
    border-color: #ff814f;

  }

  .selectbike{
  text-align: center;
  margin-top: 10px;
  }

  .selectbike h1{
    font-family: 'Rowdies', cursive;
   font-weight: bold;
    padding: 30px;
  }
  .selectbikesbackground{
 
    background-color:rgb(233 233 233);
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(72, 75, 70, 0.863);
  }
  .mainselectbike{
    background-color: rgb(203 205 203);
  }

.custom-modal{
 
  color: rgb(2, 2, 2);
}