.gradient-custom {
    /* fallback for old browsers */
    background: #ebe8e0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(170, 131, 14), rgb(228, 185, 174));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: rgb(137, 140, 145); */
    background-color: #9b9bc2;
    }
    .borerProfile{
        border: 3PX
    }

    .userprofilebackground{
        background-color: #c7c7c9;
        background-image: url(./istockphoto-1317584985-612x612-transformed.jpg);
        background-size: cover;
       
    }
   .card-body{
    background-color:#d2d5fe;
    max-height: 29rem;
   overflow-y: scroll;
   scrollbar-width:thin
   }

   .card-body::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
  }
  
  .card-body::-webkit-scrollbar-thumb {
    background-color: #7a7ad6; /* Change the color as needed */
    border-radius: 10px; /* Adjust the border radius as needed */
  }
  
  .card-body::-webkit-scrollbar-thumb:hover {
    background-color: #7990dd; /* Change the color when hovered as needed */
  }
  .history{
    display: flex;
    flex-wrap: wrap;
    background-color: #2b90e21f;
    height: 100%;
    border-radius: 10px;
   align-items: center;
   text-align: center;

  }
  .triphistoryUser{
    background-color: #a6bde5;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
  }
 
  /* Add these styles to your CSS to enhance the visual appeal */
.text-trip-history {
  margin-top: 20px;
  text-align: center;
}

.trip-history-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.trip-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.trip-location h5 {
  font-size: 18px;
  margin: 0;
}

.date-time {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

.driver-name {
  font-weight: bold;
}

.driver-phone {
  color: #007bff;
}

.fare {
  font-weight: bold;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.trip-history-title{
  font-weight: bolder;
}